BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
BreakBeforeBraces: Custom
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
BraceWrapping:
  AfterFunction: true
  BeforeLambdaBody: true